<!-- about -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto text-center">
          <iframe src="//player.bilibili.com/player.html?aid=328189601&bvid=BV16A411t7eb&cid=191188916&page=1" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="false"> </iframe>
        <p class="font-secondary paragraph-lg text-white">{{ site.data.settings.blurb }}</p>
        <a href="{{ site.data.settings.blurb-btn-link }}" class="btn btn-transparent">{{ site.data.settings.blurb-btn-name }}</a>
      </div>
    </div>
  </div>
</section>
<!-- /about -->
