<!-- about -->
<section class="section">
  <div class="container">
    <div>
      <p style="float: left;"> <iframe width="560" height="315" src="https://www.youtube.com/embed/zYpBHc8px_U?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </p>
    </div>
    <div class="row">
      <p style="float: left;">
      <div class="col-lg-10 mx-auto text-left">
        <br></br>
        <h5 class="font-tertiary paragraph-lg text-white">什么是奥术之旅?</h5>
        <p class="font-tertiary mb-1 text-light">{{ site.data.settings.blurb }}</p>
        <a href="{{ site.data.settings.blurb-btn-link }}" class="btn btn-transparent font-tertiary mb-1">{{ site.data.settings.blurb-btn-name }}</a>
      </div>
    </div>
  </div>
</section>
<!-- /about -->
