{% if site.data.settings.work-process %}
<!-- Work Process -->
<section class="section">
  <div class="container">
    <div class="row justify-content-around">
      <div class="col-lg-12 text-center">
        <h2 class="section-title mb-4 text-white">不当的聊天行为</h2>
        <p class="mb-1 paragraph-lg text-light">用户在我们聊天中的行为方式非常重要，因为 Arcane Travel 是所有年龄段玩家的友好场所。 以下是将导致惩罚的行为类型示例</p>
        <br>
      </div>
      {% for work in site.data.settings.work-process %}
      <div class="col-lg-3 col-md-4 text-center hover-shadow pt-3">
        <img src="{{ work.icon | relative_url }}" class="mb-4" alt="icon">
        <h4 class="mb-4 text-white">{{ work.title }}</h4>
        <p>{{ work.content | markdownify }}</p>
      </div>
      <br>
      <br>
      {% endfor %}
      <div class="col-lg-12 text-center">
        <br>
        <h2 class="section-title mb-4 text-white">不当行为</h2>
        <p class="mb-1 paragraph-lg text-light">我们希望我们的用户在任何时候都以适当和尊重的方式行事。Arcane Travel 的期望是一款非竞争性休闲游戏，而不是造成破坏的场所。 以下是将导致惩罚的行为示例</p>
      </div>
      {% for work in site.data.settings.bad-behaviros %}
      <div class="col-lg-3 col-md-4 text-center hover-shadow pt-3">
        <img src="{{ work.icon | relative_url }}" class="mb-4" alt="icon">
        <h4 class="mb-4 text-white">{{ work.title }}</h4>
        <p>{{ work.content | markdownify }}</p>
      </div>
      <br>
      <br>
      {% endfor %}
      <div class="col-lg-12 text-center">
        <br>
        <h2 class="section-title mb-4 text-white">第三方软件</h2>
        <p class="mb-1 paragraph-lg text-light">Arcane Travel 不允许使用任何提供不公平优势的客户端或修改。 在选择要添加到游戏中的修改时，请使用我们的常识方法（它是否让您比其他玩家更具优势？），如果答案是肯定的，请不要使用该修改。</p>
      </div>
      {% for work in site.data.settings.third-modification %}
      <div class="col-lg-3 col-md-4 text-center hover-shadow pt-3">
        <img src="{{ work.icon | relative_url }}" class="mb-4" alt="icon">
        <h4 class="mb-4 text-white">{{ work.title }}</h4>
        <p>{{ work.content | markdownify }}</p>
      </div>
      <br>
      <br>
      {% endfor %}
      <div class="col-lg-12 text-center">
        <br>
        <h2 class="section-title mb-4 text-white">利用漏洞/特性</h2>
        <p class="mb-1 paragraph-lg text-light">在您游玩 Arcane Travel 期间，我们希望您按照我们希望享受服务器的方式公平竞争。 如果您被发现滥用 Minecraft 特性/错误或我们自己插件中的漏洞，您将立即受到惩罚。 故障和漏洞利用的例子是</p>
      </div>
      {% for work in site.data.settings.use-bug %}
      <div class="col-lg-3 col-md-4 text-center hover-shadow pt-3">
        <img src="{{ work.icon | relative_url }}" class="mb-4" alt="icon">
        <h4 class="mb-4 text-white">{{ work.title }}</h4>
        <p>{{ work.content | markdownify }}</p>
      </div>
      <br>
      <br>
      {% endfor %}
    </div>
  </div>
</section>
<!-- ./Work Process -->
{% endif %}
